.contact-map {
  margin: 100px 7% 0;
}

.contact-form {
  margin-top: -50px;
  display: flex;
  justify-content: center;
}

.contact-form *{
  border-radius: 6px;
}

.contact-form > .common-flexblock {
  width: 1300px;
  background: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  padding: 35px;
}

.contact-form > .common-flexblock > .common-flex-block1 {
  margin: 0;
  padding: 0;
}

.details {
  width: 100%;
  background-color: white;
}

.svc-content * {
  color: rgb(255, 255, 255);
}

.svc-content a {
  font-size: 14px;
}

.svc-content address{
  margin-top: 5px;
}

.svc-content {
  width: 90%;
  background-color: rgb(255, 86, 91);
  color: white;
  text-align: center;
  padding: 40px 0;
  margin: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.svc-content > svg {
  fill: white;
}

@media only screen and (min-width:  1000px) {
  #form2 {
    padding-top: 150px;
  }
}